.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  @include hidpi(1.5) { 
    background-image: url(../img/sprite@2x.png);
    background-size: 375px 375px;
  }
}

.icon {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  top: 2px;
  margin-right: .2em;
  @extend .sprite;
  @include transition(all .1s linear);
}

.icon-gh { 
  background-position: -53px -248px;
}
.icon-arrow-right {
  margin-right: 0;
  background-position: -74px -246px;
}

.icon-clipboard {
  height: 20px;
  background-position: -31px -251px;
}

.icon-gi-mark {
  height: 27px;
  width: 27px;
  background-position: 0 -250px;
}

.icon-burger {
  height: 25px;
  width: 25px;
  background-position: -98px -250px;
}

